* {
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Raleway', sans-serif;
     background-color: #201e1f;
     color: #c9c9c9;
     height: 100vh;
     overflow: hidden;
}

.container {
     width: 100%;
     height: 100%;
     overflow-y: scroll;
     scroll-behavior: smooth;
     scroll-snap-type: y mandatory;
}

.navbar {
     position: fixed;
     top: 0;
     z-index: 1;
     display: flex;
     width: 100%;
     height: 60px;
     background: rgba(0,0,0, 0.7);
}

.navbar ul {
     display: flex;
     list-style: none;
     width: 100vw;
     justify-content: center;
     align-items: center;
}

.navbar ul li {
     margin: 0 1vh;
     padding: 1.5rem 1vw;
}

.navbar ul li a {
     text-decoration: none;
     text-transform: uppercase;
     color: #F4F4F4F4;
     font-size: 2vh;
     transition: all .4s;
}

.navbar ul li a:hover {
     color: skyblue;
     font-size: 2.1vh;

}

section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
     height: 100vh;
     scroll-snap-align: center;
}

section h1 {
     font-size: 4vh;
}

section h2 {
     font-size: 2vh;
     border-bottom: solid;
     border-width: 2px;
     border-color: skyblue;
     padding-bottom: 6px;
}

@media  (max-width: 400px) {
     section h1 {
          font-size: 3.2vh;
     }
}

